**/__pycache__
**test**
**try**
**WTD**
**vscode**
*.txt
*.log
*.ilp
*.lp
*.xlsx
*.pkl
*.pickle

model/*
!model/*.py

Evaluation/Zigzag_imc/output/*
!Evaluation/Zigzag_imc/output/.gitkeep
Evaluation/CIMLoop/output/*
!Evaluation/CIMLoop/output/.gitkeep
Evaluation/CoSA/output/*
!Evaluation/CoSA/output/.gitkeep
Evaluation/CoSA/output_constrained/*
!Evaluation/CoSA/output_constrained/.gitkeep

**cache**

output/*
*.md