**/__pycache__
**test**
**try**
**WTD**
**vscode**
*.txt
*.log
*.ilp
*.xlsx
*.pkl
*.pickle

model/*
!model/*.py

Evaluation/Zigzag_imc/output/*
!Evaluation/Zigzag_imc/output/.gitkeep

**cache**

output/*
