#Transistor type = "cmos" or "finfet"
-transistor type - "finfet"

#Technology node (um) = FinFET/NC-FinFET: 14nm
-technology node 0.014

#Wire Technology node (um) = 7nm
-wire technology node 0.007

#Operating voltage (V)
-operating voltage 0.7

# Dynamic Voltage Scaling, assuming the same voltages are applied to both tag and data array regardless the device types of each array
-DVS(V): 0.3 0.4 0.5 0.6 0.7

# Operating temperature (K) = 300K to 400K in steps of 10K. Data is available for 300K only
-temperature 300

#Cache size (B) =  integer number, power of 2
-size 2097152
	
#Cache block (line) size (B) = integer number, power of 2 (8, 32, 64)
-block size 64

#Associativity = 0, 1, 4, 8, 16.
#To model Fully Associative cache, set the associativity to 0.
-associativity 16

#Fixing Data and Tag arrays will use the same type of transistor type
#ncfet - "true" for NCFET, "false" for FiNFET
-ncfet - "true"

#ports
-read-write port 1
-exclusive read port 0
-exclusive write port 0
-single ended read ports 0
-search port 0

#Cache model = "NUCA", or "UCA" -->
-cache model - "UCA"

#Number of UCA banks = integer number (1, 4).  Multiple banks connected using a bus.
-uca bank 16

#In order to let CACTI find the optimal NUCA bank count, the following variable should be 0.
-nuca bank count 0 

#Output/Input bus width = integer number (256, 512). Bus width includes data and address bits required by the decoder.
-bus width 256

#Type of memory = "cache" (with a tag array),
#                 "ram" (scratch ram similar to a register file),
# 	      	  "cam" (content addressable memory) or
#                 "main memory" (no tag array and every access will happen at a page granularity Ref: CACTI5.3 report)
-memory type "cache"

#Tag size (bits) = "default", or 45
#     To model special structure like branch target buffers, directory, etc.
#	  change the tag size parameter if you want cacti to calculate the
#	  tag bits, set the tag size to "default". -->
#-tag size "default"
-tag size 37


#Access mode = "normal", "sequential", or "fast". 
#        fast - data and tag access happen in parallel
#        sequential - data array is accessed after accessing the tag array
#        normal - data array lookup and tag access happen in parallel
#                 final data block is broadcasted in data array h-tree
#                 after getting the signal from the tag array 
-access mode - "sequential"

#Optimize = "ED", "ED^2", or "NONE".
#		Set optimize tag to ED or ED^2 to obtain a cache configuration
#		optimized for energy-delay or energy-delay sq. product.
#		Note: Optimize tag will disable weight or deviate values.
#		Set it to NONE to let weight and deviate values determine the
#		appropriate cache configuration 
-optimize - "ED"

# DESIGN OBJECTIVE for UCA (or banks in NUCA)
-design objective (weight delay, dynamic power, leakage power, cycle time, area) 0:0:0:100:0

# Percentage deviation from the minimum value 
# Ex: A deviation value of 10:1000:1000:1000:1000 will try to find an organization
# that compromises at most 10% delay. 
# NOTE: Try reasonable values for % deviation. Inconsistent deviation
# percentage values will not produce any valid organizations. For example,
# 0:0:100:100:100 will try to identify an organization that has both
# least delay and dynamic power. Since such an organization is not possible, CACTI will
# throw an error. Refer CACTI-6 Technical report for more details
-deviate (delay, dynamic power, leakage power, cycle time, area) 20:100000:100000:100000:100000

# Objective for NUCA
-NUCAdesign objective (weight delay, dynamic power, leakage power, cycle time, area) 100:100:0:0:100
-NUCAdeviate (delay, dynamic power, leakage power, cycle time, area) 10:10000:10000:10000:10000

#Interconnects : Source of wire data = "RonHo2003", or "ITRS2012" or "ASAP7" -->
-interconnects - "ASAP7"

#Wire signaling = "fullswing", "lowswing", or "default".
#		     By default CACTI considers both full-swing and low-swing wires to 
#			  find an optimal configuration. However, it is possible to restrict
#			  the search space by changing the signaling from "default" to
#		     "fullswing" or "lowswing" type. -->
#-wire signalling - "Global_30"
-wire signalling - "Low_swing"

#Wire type = "global", "semi-global", or "local" -->
//-Wire inside mat - "global"
-Wire inside mat - "semi-global"
-Wire outside mat - "global"
//-Wire outside mat - "semi-global"

#Interconnect projection = "conservative", or "aggressive" 
-Interconnect projection - "aggressive"

#Contention in network (which is a function of core count and cache
#     level) is one of the critical factor used for deciding the optimal
#	  bank count value core count can be 4, 8, or 16 -->
-Core count 1

#Cache level = "L2", or "L3"
-Cache level - "L3"

-Add ECC - "true"

//-Print level (DETAILED, CONCISE) - "CONCISE"
-Print level (DETAILED, CONCISE) - "DETAILED"

# for debugging
//-Print input parameters - "true"
-Print input parameters - "false"

# force CACTI to model the cache with the 
# following Ndbl, Ndwl, Nspd, Ndsam,
# and Ndcm values
//-Force cache config - "true"
-Force cache config - "false"
-Ndwl 2
-Ndbl 8
-Nspd 2
-Ndcm 8
-Ndsam1 1
-Ndsam2 1
#Divya adding tag params begin
-Ntwl 2
-Ntbl 2
-Ntspd 1
-Ntcm 1
-Ntsam1 2
-Ntsam2 1
#Divya adding tag params end

#Following three parameters are meaningful only for main memories
-page size (bits) 0 
-burst length 1
-internal prefetch width 1



