# this file is prepared for project 026
# Created by iboxl

# size unit = Byte
# bandwidth unit = Bytes/cycle
# fj=1e-15      # pj=1e-12     # nj=1e-9     # µj=1e-6
# Energy Unit = fj
# frequency = 500M hz
########################################## [Macro] ##########################################
[Macro]

column = 128
compartment = 32
cell = 16  

# computation latency = MAC + C_adder + M_adder (time_loadin ~ prepared_to_output)
# pipeline one cycle per input
cycle_computation = 14  # no use

Idle_coefficient = 0.25

########################################## [Core] ##########################################
[Core]

#size Unit = K-Byte 
size_input_buffer = 8
size_output_buffer = 8

########################################## [Accelerator] ##########################################
[Accelerator]

num_core = 8

#size Unit = K-Byte 
size_global_iBuffer = 512
size_global_oBuffer = 512   

bandwidth_global_to_iBuffer = 128
bandwidth_oBuffer_to_global = 128

########################################## [SIMD core] ##########################################
[SIMD]

bandwidth_global_to_simd = 128

VectorWidth = 64

cycle_computation = 3

########################################## [Workload] ##########################################
[Workload]

weight_bit_width = 8
input_bit_width = 8
 
########################################## [Constraint] ##########################################
[Constraint]

FLAG_CONSTRAINT_IN_CONFIG = False
